body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 170px;
}

.alura-latam-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}

.principalContainer {
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
}
.secondContainer {
  display: grid;
  justify-content: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.secondContainer button {
  background-color: #000000;
  border: none;
  margin: 10px;
  color: #ffffff;
  padding: 10px;
}
#texto {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #000;
  animation: typing 2.5s steps(45) 1s 1 normal both, blink 1s steps(1) infinite;
  -webkit-animation: typing 2.5s steps(45) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

